/* Removendo conteudo de Pokemon  */
header span:last-child {
  display: none;
}

.historia-pokemon {
  display: none;
}

.personagens h2:first-of-type {
  display: none;
}

.personagens ul:first-of-type {
  display: none;
}

.treinadores-pokemon {
   display: none;
}

/* Adicionando estilo ao html */
@font-face {
    font-family: digimon;
    src: url("resources/digimon-font.ttf");
}

header, .historia-digimon h1, nav a, .personagens, .digiescolhidos {
    font-family: digimon;
}

.historia-digimon h1, .personagens h2, .digiescolhidos h3 {
    text-align: center;
}

body {
    font-family: arial;
    background-image: url("resources/digimon-background.png");
    background-repeat: no-repeat;
    background-color:#0580bb;
}

header {
    margin: 20px auto;
}

    header div.logo {
        background-image: url("resources/digimon-logo.png");
        background-repeat: no-repeat;
        float: left;
        width: 380px;
        height: 125px;
    }

    header h1:first-of-type {
        display: inline;
        font-size: 45px;
        text-shadow: 0 0 40px white;
    }

.historia-digimon, .personagens, .digiescolhidos, .autenticacao a, body > nav a {
    box-shadow: 5px 5px 10px 0px black;
}

nav a {
    text-decoration: none;
}


.autenticacao a {
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #FEC435;
    padding: 3px;
}

    .autenticacao a:hover {
        background-color: #E8AF3F;
    }

body > nav {

    margin: 10px auto;
}

    body > nav a {
        color: black;
        text-align: center;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        border-radius: 5px;
        background-color: silver;
        transition-duration: 0.4s;
        display: inline-block;
        padding: 3px;
    }

    nav > a span {
        display: inline-block;
    }

    nav > a:hover {
        background-color: grey;
    }

.historia-digimon, .personagens, .digiescolhidos {
    margin: 70px auto;
    width: 800px;
    background-color: silver;
    border-color: grey;
    border-style: solid;
    border-radius: 52px;
    padding: 30px;
    opacity: 0.9;
}

.personagens ul {
    list-style-type: none;
    margin: auto 30px;
    padding: 0;
}

.personagens ul li {
    display: block;
    width: 170px;
    padding: 1px;
    background-color: #FEC435;
    border-style: solid;
    border-color: black;
}

.personagens ul li:hover {
    background-color: #E8AF3F;
}

.personagens ul li:hover::after {
    border-style: solid;
    border-color: black;
    border-radius: 52px;
    background-color: white;
    box-shadow: 5px 5px 10px 0px black;
    position: absolute;
    left: 545px;
    top: 800px;
}

    .personagens ul li:nth-child(1):hover:after {
        content: url("resources/digimons/digimon-agumon.png");
    }

    .personagens ul li:nth-child(2):hover:after {
        content:  url("resources/digimons/digimon-gabumon.png");
    }

    .personagens ul li:nth-child(3):hover:after {
        content:  url("resources/digimons/digimon-biyomon-e-tentomon.png");
    }

    .personagens ul li:nth-child(4):hover:after {
        content: url("resources/digimons/digimon-gomamon-e-patamon.png");
    }

    .personagens ul li:nth-child(5):hover:after {
        content: url("resources/digimons/digimon-gatomon.png");
    }

    .personagens ul li:nth-child(6):hover:after {
        content: url("resources/digimons/digimon-veemon.png");
    }

    .personagens ul li:nth-child(7):hover:after {
        content: url("resources/digimons/digimon-hawkmon.png");
    }

    .personagens ul li:nth-child(8):hover:after {
        content:  url("resources/digimons/digimon-armadillomon.png");
    }

    .personagens ul li:nth-child(9):hover:after {
        content: url("resources/digimons/digimon-wormmon.png");
    }

    .personagens ul li:nth-child(10):hover:after {
        content: url("resources/digimons/digimon-palmon.png");
    }

    .personagens ul li:nth-child(11):hover:after {
        content: url("resources/digimons/digimon-renamon.png");
    }   

    .personagens ul li:nth-child(12):hover:after {
        content: url("resources/digimons/digimon-guilmon.png");
    }

    .personagens ul li:nth-child(13):hover:after {
        content: url("resources/digimons/digimon-lalamon.png");
    }

    .personagens ul li:nth-child(14):hover:after {
        content: url("resources/digimons/digimon-falcomon.png");
    }

.digiescolhidos {
    height: 600px;
}

.digiescolhidos ul {
    list-style-type: none;
    margin: auto 30px;
}

.digiescolhidos ul li {
    display: inline-block;
    background-color: #FEC435;
    border-style: solid;
    border-color: black;
    padding: 2px;
    font-family: digimon;
}

.digiescolhidos ul li:hover {
    background-color: #E8AF3F;
}

.digiescolhidos ul li:hover:after  {
    border-style: solid;
    border-color: black;
    border-radius: 52px;
    background-color: white;
    box-shadow: 5px 5px 10px 0px black;
    position: absolute;
    left: 530px;
    top: 1500px;
}

    .digiescolhidos ul li:nth-child(1):hover:after {
        content: url("resources/digiescolhidos/digimon-taichi.png");
    }

    .digiescolhidos ul li:nth-child(2):hover:after {
        content: url("resources/digiescolhidos/digimon-matt.png");
    }

    .digiescolhidos ul li:nth-child(3):hover:after {
        content: url("resources/digiescolhidos/digimon-sora.png");
    }

    .digiescolhidos ul li:nth-child(4):hover:after {
        content: url("resources/digiescolhidos/digimon-joe.png");
    }

    .digiescolhidos ul li:nth-child(5):hover:after {
        content: url("resources/digiescolhidos/digimon-kari.png");
    }

    .digiescolhidos ul li:nth-child(6):hover:after {
        content: url("resources/digiescolhidos/digimon-davis.png");
    }

    .digiescolhidos ul li:nth-child(7):hover:after {
        content: url("resources/digiescolhidos/digimon-yolei.png");
    }

    .digiescolhidos ul li:nth-child(8):hover:after {
        content: url("resources/digiescolhidos/digimon-cody.png");
    }

    .digiescolhidos ul li:nth-child(9):hover:after {
        content: url("resources/digiescolhidos/digimon-ken.png");
    }

    .digiescolhidos ul li:nth-child(10):hover:after {
        content: url("resources/digiescolhidos/digimon-mimi.png");
    }

    .digiescolhidos ul li:nth-child(11):hover:after {
        content: url("resources/digiescolhidos/digimon-rika.png");
    }   

    .digiescolhidos ul li:nth-child(12):hover:after {
        content: url("resources/digiescolhidos/digimon-takato.png");
    }

    .digiescolhidos ul li:nth-child(13):hover:after {
        content: url("resources/digiescolhidos/digimon-yoshino.png");
    }

    .digiescolhidos ul li:nth-child(14):hover:after {
        content: url("resources/digiescolhidos/digimon-keenan.png");
    }

footer {
    float: right;
}

    footer:after {
        content: url(resources/digimon-icone.gif);
    }