/* Removendo conteudo de Pokemon  */
header span:last-child {
  display: none;
}

.historia-pokemon {
  display: none;
}

.personagens :first-child {
  display: none;
}

.personagens ul:first-of-type {
  display: none;
}

.treinadores-pokemon {
   display: none;
}

/* Adicionando estilo ao html */

@font-face {
    font-family: digimon;
    src: url("resources/digimon-font.ttf");
}

body {
    font-family: arial;
    background-image: url("resources/digimon-background.png");
    background-repeat: no-repeat;
    background-color:#0580bb;
}

header {
    margin: 20px auto;
}

    header div.logo {
        background-image: url("resources/digimon-logo.png");
        background-repeat: no-repeat;
        float: right;
        width: 380px;
        height: 125px;
    }

    header h1:first-of-type {
        display: inline;
        font-family: digimon;
        font-size: 45px;
        text-shadow: 4px 2px 5px white;
    }

nav a {
    text-decoration: none;
}

.autenticacao {
    width: 100%;
    margin: 5px auto;
}

    .autenticacao a {
        color: black;
        font-family: digimon;
        border-style: solid;
        border-color: black;
        border-radius: 10px;
        background-color: #FEC435;
        padding: 3px;
    }

    .autenticacao a:hover {
        background-color: #E8AF3F;
    }

body > nav {
    width: 700px;
    margin: 10px auto;
}

    body > nav a {
        color: black;
        font-family: digimon;
        text-align: center;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        border-radius: 5px;
        background-color: silver;
        transition-duration: 0.4s;
        display: inline-block;
        padding: 3px;
    }

    nav > a span {
        display: inline-block;
    }

    nav > a:hover {
        background-color: grey;
    }

.historia-digimon, .content {
    margin: 70px auto;
    width: 800px;
    background-color: silver;
    border-color: grey;
    border-style: solid;
    border-radius: 52px;
    padding: 30px;
    opacity: 0.9;
}