@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/street-style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-inverse col-md-4 col-no-float" id="menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="~/StreetFighter/">Início</a>
            </li>
            <li>
                <a href="~/StreetFighter/ListaDePersonagens">Lista de Personagens</a>
            </li>
            <li>
                <a href="~/StreetFighter/Sobre">Sobre</a>
            </li>
        </ul>
    </nav>


    <div class="conteudo col-sm-12 col-md-6 center-block col-no-float">
        <div class="titulo">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="corpo">
            @RenderBody()
        </div>
    </div>


    <script src="~/Scripts/jquery-1.9.1.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>
