
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/street-style.css" rel="stylesheet" />
</head>

<body>

    <div id="menu">

        <span>
            <a href="~/StreetFighter/">Início</a>
        </span>

        <span>
            <a href="~/StreetFighter/FichaTecnica">Ficha Técnica</a>
        </span>

        <span>
            <a href="~/StreetFighter/Cadastro">Cadastro</a>
        </span>

        <span>
            <a href="~/StreetFighter/Sobre">Sobre</a>
        </span>

    </div>

    <div class="conteudo">

        <div class="titulo">

            <h3>@ViewBag.Title</h3>

        </div>

        @RenderBody();

    </div>

</body>

</html>
